/* html,
body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #fff;
}


h1 {
    font-size: 17px;
    font-family: serif;
    text-transform: uppercase;
    color: threadlightshadow;
    text-shadow: 0 3px 4px rgba(0, 0, 0, .5)
}

ul {
    list-style: none;
    width: 70%;
}
  */

/*
strong {
    color: #3c071b;
}

strong:hover {
    color: green;
}

em {
    color: #996633;
}

em:hover {
    color: blue;
}

p {
    float: right;
    padding: 3px;
    font-size: 10px;
    text-transform: uppercase;
} */